.top {
    background: #ff00bf;
}
.menu_section .signin_login .search {
    background: #ffc406;
}
.main_body .house_section a, .main_body .car_section a, .main_body .employment_section a {
    background: #ff0bfc5e;
}
.all_cat_style {
    background: #ff36cc;
}